<div id = "templatemo-content-right">
  <div class = "col-md-6 product-item">
    <h1><%= t "photography" %></h1>
    <%= link_to image_tag("templatemo_image_01.jpg") %>
    <div class = "product-info">
      <p><%= t "author" %></p>
      <div class = "detail-button">
        <%= link_to t("detail"), detail_path %>
      </div>
    </div>
    <div class = "clr"></div>
  </div>
  <div class = "col-md-6 product-item">
    <h1><%= t "photography" %></h1>
    <%= link_to image_tag("templatemo_image_01.jpg") %>
    <div class = "product-info">
      <p><%= t "author" %></p>
      <div class = "detail-button">
        <%= link_to t("detail"), detail_path %>
      </div>
    </div>
    <div class = "clr"></div>
  </div>
  <div class = "col-md-6 product-item">
    <h1><%= t "photography" %></h1>
    <%= link_to image_tag("templatemo_image_01.jpg") %>
    <div class = "product-info">
      <p><%= t "author" %></p>
      <div class = "detail-button">
        <%= link_to t("detail"), detail_path %>
      </div>
    </div>
    <div class = "clr"></div>
  </div>
  <div class = "col-md-6 product-item">
    <h1><%= t "photography" %></h1>
    <%= link_to image_tag("templatemo_image_01.jpg") %>
    <div class = "product-info">
      <p><%= t "author" %></p>
      <div class = "detail-button">
        <%= link_to t("detail"), detail_path %>
      </div>
    </div>
    <div class = "clr"></div>
  </div>
</div>
