<% provide :title, t("edit_books") %>
<h1><%= t "edit_books" %></h1>
<div class="row admin-book">
  <div class="col-md-8 col-md-offset-2 edit-book">
    <%= form_for [:admin, @book], html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label :author %>
      <%= f.text_field :author, class: "form-control" %>

      <%= f.label :num_page %>
      <%= f.number_field :num_page, max: Settings.max_num_page,
        min: Settings.min_num_page, class: "form-control" %>

      <%= f.hidden_field :rate, value: @book.rate %>

      <%= f.label :category %>
      <%= f.select "category_id",
        options_for_select(@categories.collect{|u| [u.name, u.id]}),
          class: "select_form" %>

      <%= f.label :publish_date %>
      <%= f.date_field :publish_date, class: "form-control" %>

      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= image_tag @book.image %>
      <%= f.submit t("update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
