<% provide :title, t("add_book") %>
<h1><%= t "add_book" %></h1>
<div class="row admin-book">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for [:admin, @book], html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label :author %>
      <%= f.text_field :author, class: "form-control" %>

      <%= f.label :num_page %>
      <%= f.number_field :num_page, max: Settings.max_num_page,
        min: Settings.min_num_page, class: "form-control" %>

      <%= f.label :rate %>
      <%= f.number_field :rate, max: Settings.max_rate,
        min: Settings.min_rate, class: "form-control" %>

      <%= f.label :category %>
      <%= f.select "category_id",
        options_for_select(@categories.collect{|u| [u.name, u.id]}),
          class: "select-form" %>

      <%= f.label :publish_date %>
      <%= f.date_field :publish_date, class: "form-control" %>

      <%= f.label :image %>
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>

      <%= f.submit t("add"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
