<%= form_for :session, url: login_path do |f| %>
  <%= f.label :email, class: "login_label" %>
  <%= f.email_field :email, required: true, class: "login_input" %>

  <%= f.label :password, class: "login_label"  %>
  <%= f.password_field :password, required: true, class: "login_input" %>

  <%= f.submit t("log_in"), class: "btn btn-primary login_btn" %>

  <p class="new_user"><%= link_to t("sign_up"), signup_path %></p>
<% end %>
