<div id="templatemo-content-right">
  <div class="col-md-12">
    <div class="col-md-5 img-detail">
      <%= image_tag @book.image %>
    </div>
    <div class="col-md-7 detail-product">
      <h3><%= @book.title %></h3>
      <p><%= t "author" %><%= @book.author %></p>
      <p><%= t "date_publish" %>
        <%= l @book.publish_date, format: :short %></p>
      <p><%= t "num_page" %><%= @book.num_page %></p>
    </div>
  </div>
</div>
