<ul>
  <li><a href = "" class = "current"><%= t "home" %></a></li>
  <li><a href = ""><%= t "favorite" %></a></li>
  <li>
    <form class = "navbar-form navbar-left" role = "search">
      <div class = "form-group">
        <input type = "text" class = "form-control"
          placeholder = <%= t "search" %>>
      </div>
      <button type = "submit" class = "btn btn-default">
        <i class = "fa fa-search" aria-hidden = "true"></i>
      </button>
    </form>
  </li>
  <li class = "item_menu"><a href = ""><%= t "log_in" %></a></li>
  <li class = "item_menu"><a href = ""><%= t "sign_up" %></li>
</ul>
