<ul>
  <li><%= link_to t("home"), root_path %></li>
  <li><%= link_to t("favorite"), "#" %></li>
  <% if logged_in? %>
    <% if is_admin.present? %>
      <li><%= link_to t("categories"), admin_categories_path %></li>
    <% end %>
    <li><%= link_to t("users"), users_path %></li>
    <% if current_user.is_admin? %>
      <li><%= link_to t("books"), admin_books_path %></li>
    <% end %>
    <li class="dropdown">
      <%= link_to t("account"), "#", class: "dropdown-toggle",
        data: {toggle: "dropdown"}%>
      <ul class="dropdown-menu">
        <li class="item-link"><%= link_to t("profile"), current_user %></li>
        <li class="item-link"><%= link_to t("settings"),
          edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <li class="item-link">
          <%= link_to t("log_out"), logout_path, method: "delete" %>
        </li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to t("signup"), signup_path %></li>
    <li class="item-menu">
      <button type="button" id="login-btn" class="btn btn-danger btn-lg"
        data-toggle="modal" data-target="#myModal"><%= t "login" %></button>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <%= render "shared/form_login" %>
              <div class="modal-footer">
                <button type="button" class="btn btn-default"
                  data-dismiss="modal">
                  <%= t "close" %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <li>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control"
          placeholder=<%= t "search" %>>
      </div>
      <button type="submit" class="btn btn-default">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </li>
</ul>
