<div class = "templatemo_content_left_section">
  <h1><%= t "Categories" %></h1>
  <ul>
    <li><a href = "#"><%= t "Novel" %></a></li>
    <li><a href = "#"><%= t "Fiction" %></a></li>
    <li><a href = "#"><%= t "Novel" %></a></li>
    <li><a href = "#"><%= t "Fiction" %></a></li>
  </ul>
</div>
