<div class="templatemo-content-left-section">
  <h1><%= t "categories" %></h1>
  <ul>
    <li><a href="#"><%= t "novel" %></a></li>
    <li><a href="#"><%= t "fiction" %></a></li>
    <li><a href="#"><%= t "novel" %></a></li>
    <li><a href="#"><%= t "fiction" %></a></li>
  </ul>
</div>
