<!DOCTYPE>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= full_title yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="templatemo-container">
      <div id="templatemo-menu">
        <%= render "layouts/header" %>
      </div>
      <div id="templatemo-content">
        <div id="templatemo-content-left" class="col-md-4">
          <%= render "layouts/left_bar" %>
        </div>
        <div class="col-md-8" >
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <div id="templatemo-footer">
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
